# Ignore caches file.
#-------------------------
cache/captcha/*
!cache/captcha/fonts
!cache/captcha/index.html

# Ignore configs file.
#-------------------------
config/gamelang/encryption_key.php

# Ignore langs file.
#-------------------------
language/indonesia/game_lang.php
language/english/game_lang.php

# Ignore packages files.
#-------------------------
packages/*
!packages/index.html

# Ignore themes files.
#-------------------------
themes/*
!themes/default
!themes/index.html

# Ignore uploads files.
#-------------------------
uploads/*
!uploads/index.html

# Ignore vendor.
#-------------------------
/vendor/
