# Ignore unnecessary folders.
.DS_Store

# Ignore audios files.
audios/*
!audios/index.html

# Ignore blocks files.
blocks/*
!blocks/index.html

# Ignore files files.
files/*
!files/index.html

# Ignore kategori files.
kategori/*
!kategori/index.html
!kategori/default.png

# Ignore produk files.
produk/*
!produk/index.html
!produk/default.png

# Ignore gallery files.
gallery/*
!gallery/index.html
!gallery/surat_keluar/index.html
!gallery/surat_masuk/index.html

# Ignore images files.
images/*
!images/index.html

# Ignore logo files.
logo/*
!logo/index.html

# Ignore profile files.
profile/*
!profile/index.html

# Ignore quiz files.
quiz/*
!quiz/index.html

# Ignore slider files.
slider/*
!slider/index.html

# Ignore thumbnails files.
thumbnails/*
!thumbnails/index.html

# Ignore tmp files.
tmp/*
!tmp/index.html

# Ignore users files.
users/*
!users/avatar.jpg
!users/index.html

# Ignore videos files.
videos/*
!videos/index.html

# keep all .htaccess, .gitkeep and index.html
!**/.htaccess
!**/.gitkeep
!**/index.html
