
.btn-select-option {
    font-size: 12px;
    margin: 0;
    padding: 3px 6px;
}

.options-dropdown {
    left: -25px;
}

.options-dropdown li a {
    font-weight: 600;
    padding: 8px;
}

.options-dropdown li button {
    font-weight: 600;
    padding: 8px;
    width: 100%;
    background: transparent;
    border: none;
    margin: 0;
    text-align: left;
}

.options-dropdown li button:hover {
    background-color: #f1f1f1;
    color: #333;
}